@model IEnumerable<BTL.Models.SanPham>
@{ ViewBag.Title = "Index"; }
<!-- Nav Section Begin -->
@{ Html.RenderAction("_Nav", "Home");}
<!-- Nav Section End -->
<!-- Product GIrd Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="filter__sort">
                    <span>Sắp xếp theo</span>
                    <select>
                        <option value="0"> @Html.ActionLink("Tên", "Index", new { sortOrder = ViewBag.SapTheoTen })</option>
                        <option value="0"> @Html.ActionLink("Giá", "Index", new { sortOrder = ViewBag.SapTheoGia })</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            @foreach (var item in Model)
            {
<div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
    <div class="featured__item">
        <div class="featured__item__pic set-bg">
            @{ string ImagePath = "~/wwwroot/images/" + item.Anh;}

            <img src="@Url.Content(ImagePath)" height="270" />
            <ul class="featured__item__pic__hover">
                <li><a href=@Url.Action("ThemSanPham","GioHang",new { MaSP = item.MaSP , SoLuong = 1 })><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
        </div>
        <div class="featured__item__text">
            <h6><a href="@Url.Action("Detail", "SanPhams", new { id = item.MaSP })">@Html.DisplayFor(modelItem => item.TenSP)</a></h6>
            <h5>@Html.DisplayFor(modelItem => item.Gia)</h5>
        </div>
    </div>
</div>            }
        </div>
    </div>
</section>
<!-- Product Section End -->
