@model List<BTL.Models.ChiTietGioHang>
@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
@{ var tongtien = 0;
    foreach (var item in Model)
    {
        tongtien += item.SoLuong*(int)item.SP.Gia;
    }
  }
@section GioHangscripts{
    <script src="~/Scripts/GioHang.js"></script>
}


<section class="shoping-cart spad">
    <div class="container">
        <h3 class="text-success"><i class="fas fa-check-double pr-3"></i>Sau khi sửa số lượng vui lòng bấm cập nhật để biết giá chính xác!!!</h3>
        <div class="row">
            @if (@Model.Count > 0)
            {
<div class="title-cart ">
    <h1>Giỏ hàng</h1>
</div>
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Các sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Tổng tiền</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                <tr>
                    <td class="shoping__cart__item">
                        @{ string ImagePath = "~/wwwroot/images/" + item.SP.Anh;}
                        <a href="@Url.Action("Detail", "SanPhams", new { id = item.SP.MaSP })"><img src=@Url.Content(ImagePath) style="width:150px; height:150px"></a>
                        <a href="@Url.Action("Detail", "SanPhams", new { id = item.SP.MaSP })"><h5>@item.SP.TenSP</h5></a>
                    </td>
                    <td class="shoping__cart__price">
                        @Html.DisplayFor(modelItem => item.SP.Gia)
                    </td>
                    <td class="shoping__cart__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" class="txtSoLuong" data-id="@item.SP.MaSP" value="@item.SoLuong" />
                            </div>
                        </div>
                    </td>

                    <td class="shoping__cart__total">
                        @string.Format("{0:#,##0}", item.SoLuong * (int)item.SP.Gia)

                    </td>
                    <td><a href="#" data-id="@item.SP.MaSP" class="Xoa1SP">Xoá</a></td>
                    @*<td class="shoping__cart__item__close">
                            <a href="#" class="xoa1sp" data-id="@item.SP.MaSP">Xóa
                                <img src="~/wwwroot/images/iconClose.png" style="width:15px; height:15px" />
                            </a>
                        </td>*@
                </tr>}
                            </tbody>
                        </table>
                    </div>
                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="shoping__cart__btns">
                                            <a href="#" class="primary-btn cart-btn-right" id="TiepTucMuaHang">TIẾP TỤC MUA SẮM</a>
                                            <a href="#" class="primary-btn cart-btn-right" id="CapNhapGioHang"> Cập nhật giỏ hàng</a>
                                            <a href="#" class="primary-btn cart-btn-right" id="XoaToanBo">Xóa Toàn Bộ</a>
                                        </div>


                                    </div>
                                    <div class="col-lg-6">
                                        <div class="shoping__checkout">
                                            <h5>Tổng tiền</h5>
                                            <ul>
                                                <li>
                                                    Tổng giá <span>@string.Format("{0:#,##0}", tongtien) VNĐ</span>
                                                </li>
                                                <li>Phải trả <span>@string.Format("{0:#,##0}", tongtien) VNĐ</span></li>
                                            </ul>
                                            <a href="@Url.Action("Create","DonHangs",FormMethod.Post)" class="primary-btn">ĐI TỚI ĐẠT HÀNG</a>
                                        </div>
                                    </div>
                                </div> }
                                            else
                                            {
                                <div class="header-cart">

                                    <div class="alert  green-alert section" role="alert">
                                        <div class="title-cart ">
                                            <h1>Giỏ hàng</h1><p>Chưa có sản phẩm nào trong giỏ hàng - quay về <a href="/Home/Index" title="Trang Chủ" class="link text-primary">Trang Chủ</a> để mua hàng</p>
                                        </div>
                                    </div>

                                </div>            }
        </div>
    </div>
</section>
