@model BTL.Models.KhachHang

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        >
        <div class="container margin-bottom-20 card py-2">
            <div class="heading-bar">
                <h1 class="title_page mb-0">Thông tin tài khoản</h1>
            </div>
            <div class="wrap_background_aside margin-bottom-40 page_login">
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-3 ">
                        <div class="page-login py-3 ">
                            <div id="login">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.MaKH)
                                <label class="control-label ml-3">
                                    Họ và tên
                                </label>
                                <div class="form-group">

                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.TenKH, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TenKH, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <label class="control-label ml-3">
                                    Địa Chỉ
                                </label>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <label class="control-label ml-3">
                                    Email
                                </label>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <label class="control-label ml-3">
                                    Điện thoại
                                </label>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <label class="control-label ml-3">
                                    Mật khẩu
                                </label>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-8 col-md-10">
                                        <input type="submit" value="Lưu" class="btn btn-danger text-white" />
                                        <button type="button" class="btn btn-danger text-white">@Html.ActionLink("Trở lại trang sản phẩm", "Detail")</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input id="4fc7984eb01a4039b8fd1e6fd5a05c82" name="g-recaptcha-response" type="hidden" value="03AGdBq27-OMvtk5XL7LZ4sD0pl1CsvUpoC05ku1moAtul6x4iy3yeqdTrw2igvMBzzIOo0e_lr8cdHa9Q_R9qXKszazCBYlEjERTFAVn1GDjCRkirpzNfNCptshg6o0eTvtO26X1c8v67LwPy7RP8FJ8eKVBY5mLK5zrp8bMtlY-DY1uBhhF7J6u1lM7fgWyxGkmzsJm9ubUVlOwLA7z23zeDwrHhzypCeFnof2n8YNqg0zBL7UYHwGEcfrt5TfVx_nAO2SwS_tBtrPYRt1bNycMDtGeaGfYHFSV4WZdEMdwLjkNVa2FrLScDXwbuhr7BGYpUGfMcZABJjpuJ4BuXeGGAnZ_PcjwQ6JTrTHp9IdyY7PG5GF-kUCt9TPkE9vFcaq-seMsGurhIMLt1MEQA6MkkOiMqQ-jC-25_psO4kd2nriKuySBLHToi4J0SymDgkmQoUA2Uo4P45ilEpURfleiykEdtELUx0N2twKMUjAtPiv7C41AJI_WzfpAr8ezKRC2L_-D5fhZI">
                        <script src="https://www.google.com/recaptcha/api.js?render=6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-"></script>
                        <script>grecaptcha.ready(function () { grecaptcha.execute('6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-', { action: 'submit' }).then(function (token) { document.getElementById('4fc7984eb01a4039b8fd1e6fd5a05c82').value = token; }); });</script>

                    </div>
                </div>
            </div>
        </div>

    </div>

}