@model BTL.Models.KhachHang

@{
    ViewBag.Title = "Login";

}
<section class="section">
    <div class="container margin-bottom-20 card py-20 mt-5">
        <div class="wrap_background_aside margin-bottom-40 page_login">
            <div class="heading-bar">
                <h1 class="title_page mb-0">Đăng nhập tài khoản</h1>
                <p class="mb-0">Bạn chưa có tài khoản <a href="@Url.Action("Registers","KhachHangs")" class="btn-link-style btn-register" style="text-decoration: underline; "> Đăng ký tại đây</a></p>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3 py-3">

                    <div class="page-login ">
                        <div id="login">
                            <div class="card-body">
                                @using (Html.BeginForm("Login", "KhachHangs", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email)
                                        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placehoder = "Email", style = "width: 450px" })
                                    </div>
                                    <div class="form-group">
                                        <div>Mật khẩu</div>
                                        @Html.TextBoxFor(m => m.MatKhau, "", new { @class = "form-control", @placehoder = "Mật khẩu", @Type = "password", style = "width: 450px" })

                                    </div>
                                    <div class="form-group">
                                        <input type="submit" onclick="loginok()" style="height: 40.25px; width: 450px; background: #f5df4d;color:#212529;" name="submit" class="btn btn-primary" value="Đăng nhập" />
                                    </div>
                                }
                                @if (ViewBag.Error != null)
                                {
                                    <br />
                                    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
                                }

                            </div>
                        </div>

                        <div id="recover-password" style="display:none;" class="form-signup page-login text-center">
                            <h2>
                                Đặt lại mật khẩu
                            </h2>
                            <p>
                                Chúng tôi sẽ gửi cho bạn một email để kích hoạt việc đặt lại mật khẩu.
                            </p>
                            <form accept-charset="UTF-8" action="/account/recover" method="post">
                                <input name="form_type" type="hidden" value="recover_customer_password">
                                <input name="utf8" type="hidden" value="✓">

                                <div class="form-signup" style="color: red;">

                                </div>
                                <div class="form-signup clearfix">
                                    <fieldset class="form-group">
                                        <input type="email" pattern="[a-z0-9._%+-]+[a-z0-9.-]+\.[a-z]{2,63}$" class="form-control form-control-lg" value="" name="Email" id="recover-email" placeholder="Email" required="">
                                    </fieldset>
                                </div>

                                <div class="action_bottom my-3">
                                    <input class="btn btn-style btn-recover btn-block" type="submit" value="Lấy lại mật khẩu">
                                    <a href="#" class="btn btn-style link btn-style-active " onclick="hideRecoverPasswordForm();return false;">Quay lại</a>

                                </div>

                                <input id="94828cb18d894b1c95052197ed6964fe" name="g-recaptcha-response" type="hidden" value="03AGdBq27lDNlvaTI2cv62wBgI8xwyKL8vJZxSwzHOhhRVQ9dJ6jvL9FAy6uVR26rnVhhLE1h5NpmRIOf4W-tdYYlwItWtM_8lcLnIystFMSr5AnfA6okSIHTr5W5evJwnJ07nxRkod18BG-eYyDjccoPOwEYFCRhA3b5RKxZ6HoImDZW_acmn3fMx46r3LWNbBmKBj8JQRVh9jgPdCqL7yosO1IUzXiK63Qyc84tcLqOJuAJaQPJN6ezQb-VjJJ6_nOb6yuOFKiO80f-Zn-V5gjIN1pCNceBnrup_yXSqZfPW4l43ddmzh6htM5wMJNMOlG5O4DGtAG3xfis-Aj3iXYDpx2mUOBy6XEdt__CiRYGiSSElzyVw7n-YYSiTeErTvXfdNqNhisyjiYmMI49bmqKGmopBANLEHRcZHrztcvLvgJvP_vc9PI1MFjpngI48jyyk2avJ_vKC">
                                <script src="https://www.google.com/recaptcha/api.js?render=6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-"></script>

                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

