@model IEnumerable<BTL.Areas.Admin.Modal.SanPham>


@{
    ViewBag.Title = "Product";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


        <div class="row">
            <div class="col-lg-8">
                <h1 class="page-header">Sản Phẩm</h1>
            </div>
            <div class="col-lg-4" style="padding-top: 60px;">
                <button type="button" class="btn btn-outline-success" ><i class="fab fa-product-hunt" style="margin-right: 5px;"></i><a href="@Url.Action("Create","SanPhams")">+ Thêm mới </a></button>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Tên Danh Mục
                        </th>
                        <th>
                           Tên sản phẩm
                        </th>
                        <th>
                            Giá
                        </th>
                        <th>
                            Mô tả
                        </th>
                        <th>
                            Ảnh
                        </th>
                        <th>
                           Loại
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DanhMuc.TenDanhMuc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenSP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MoTa)
                            </td>
                            <td>
                                @{
                                    string ImagePath = "~/Areas/Admin/Alink/Images/" + item.Anh;
                                }
                                <img src="@Url.Content(ImagePath)" width="100" height="100" class="img-thumbnail" />

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Loai)
                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { id = item.MaSP }) |
                                @Html.ActionLink("Chi Tiết", "Details", new { id = item.MaSP }) |
                                @Html.ActionLink("Xóa", "Delete", new { id = item.MaSP })
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>

    <!-- /.container-fluid -->

<!-- /#page-wrapper -->

