@model PagedList.IPagedList<BTL.Areas.Admin.Modal.SanPham>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Sản Phẩm</h2>
@using (Html.BeginForm())
{
    <p style="text-align:right">
        Tìm tên sản phẩm @Html.TextBox("SearchString", ViewBag.CurenFillter as string)
        <input type="submit" value="Tìm" />
    </p>
}
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên danh mục
        </th>
        <th>
            @Html.ActionLink("Tên sản phẩm", "Index", new { sortOrder = ViewBag.SapTheoTen, curenFillter = ViewBag.CurenFillter })
        </th>
        <th>
            @Html.ActionLink("Giá", "Index", new { sortOrder = ViewBag.SapTheoGia, curenFillter = ViewBag.CurenFillter })
        </th>
        
        <th>
            Hình ảnh
        </th>
        <th>
            Loại
        </th>
        <th>
            Số lượng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DanhMuc.TenDanhMuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            
            <td>
                @{
                    string ImagePath = "~/wwwroot/Images/" + item.Anh;
                }
                <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
                <br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaSP }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaSP }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaSP })
            </td>
        </tr>
    }

</table>
<br />
Trang  @(Model.PageCount  <  Model.PageNumber  ?  0  :  Model.PageNumber)  /  @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
   page,
   sortOrder = ViewBag.CurrentSort,
   currentFilter = ViewBag.CurrentFilter
}))
